.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 90.28vw;
  height: 3.19vh;
  margin-left: 3%;
}

.header-logo {
  width: 188px;
  height: 46px;
  font-family: 'Amug', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 46px;
  color: #0B7D6A;
}

.toggle-btn {
  display: none;
}

.header-link {
  text-decoration: none;
}

.header-logo:hover {
  text-decoration: none;
  color: blue;
}

.header-nav {
  display: flex;
  gap: 20px;
}

.header-nav a {
  color: #333;
  text-decoration: none;
}

.header-icons {
  display: flex;
  gap: 20px;
  color: #404859;
}

.icon-label {
  margin-left: 0.5em;
}

.custom-link {
  text-decoration: none;
  color: inherit;
}

.custom-link:hover {
  text-decoration: none;
  color: blue;
}

.header-nav a {
  color: #333;
  text-decoration: none;
}

.icon-label {
  margin-left: 0.5em;
}

.custom-link {
  text-decoration: none;
  color: inherit;
}

.custom-link:hover {
  text-decoration: none;
  color: blue;
}


@media (max-width: 768px) {
  .icon-label{
    display: none;
  }

  .toggle-btn {
    display: none;
    cursor: pointer;
    z-index: 2;
    right: 5%;
    top: 50%;
    transform: translate(-7%, -80%);
    margin-top: 15%;
    background-color: #0B7D6A;
  }

  .header-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-top: 20%;
    margin-left: auto;
  }

  .header-nav.open {
    display: none;
  }

  .header-icons {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    /* margin-top: 30%; */
    /* width: 100%;  */
  }

  .header-icons.open {
    display: block;
  }
}
