.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: linear-gradient(97.17deg, #FFFFFF 3.52%, #FFFFFF 4.39%, #F3F8FB 31.22%, #F3F8FB 52.9%); */
  background-color: #0B7D6A;
  padding: 40px;
  width: 90.28vw;
  height: 28.26vh;
  margin-top: 9.24vh;
  margin-left: 2%;
  gap: 0px;
  border-radius: 24px;
}

.hero-content {
  color: black;
}

.hero-content h1 {
  font-family: 'Satoshi Variable';
  font-size: 36px;
  font-weight: 500;
  line-height: 48.6px;
  max-width: 450px;
  margin-bottom: 20px;
}

.hero-section img {
  width: 23.89vw;
  height: 21.32vh;
  border-radius: 20px 0px 0px 0px;
}

.hero-button {
  width: 165px;
  height: 51px;
  padding: 16px 50px;
  border-radius: 16px;
  background-color: #0B7D6A;
  color: #fff;
  cursor: pointer;
  border: none;
}

@media (max-width: 768px) {
  .hero-section {
    width: 90%; 
    height: auto; 
    padding: 20px; 
    margin: 5% 0; 
    border-radius: 12px; 
    margin-top: 8%;
  }

  .hero-section img {
    width: 155px; 
    height: 144px; 
    border-radius: 12px 0 0 0; 
  }

  .hero-content h1 {
    font-family: 'Satoshi Variable';
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    max-width: 180px;
    margin-bottom: 20px;
  }
  
  .hero-button {
    width: 101px; /* Reduced width */
    height: 31px; /* Reduced height */
    padding: 8px 25px; /* Adjusted padding for text alignment */
    border-radius: 16px;
    background-color: #0B7D6A;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 12px;
  }
  
}