.productsSection {
  padding: 40px;
  width: 90.28vw;
  height: 97.22vh;
  top: 52.15vh;
  left: 4.86vw;
  gap: 5.56vw;
  opacity: 1;
  margin-top: 5%;
}


.productsTitle {
  font-family: 'Satoshi Variable';
  font-size: 36px;
  font-weight: 700;
  line-height: 48.6px;
  margin-bottom: 20px;
  color: #313131;
}

.productsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 80px; 
 
}

.productCard {
  width: 15.49vw;
  height: auto;
  padding: 1.39vw;
  /* gap: 1.74vw; */
  opacity: 0px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.productImage {
  width: 176px;
  height: 130px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.productName {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.productRating {
  color: #f2b01e;
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.productCollection {
  color: #666;
  margin-bottom: 10px;
}

.productPrice {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.productButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: white;
  color: #0B7D6A;
  border: 2px solid #0B7D6A;
  border-radius: 116px;
  cursor: pointer;
}

.starFilled {
  color: #f2b01e;
}

.starEmpty {
  color: #e0e0e0;
}

.similarItemsSection{
  margin-top: 15%;
}

.recentlyViewedSection{
  margin-top: 10%;
}


@media (max-width: 768px) {
  .productsList {
    grid-template-columns: repeat(1, 1fr); 
  }

  .productsSection {
    width: 28rem;
    padding: 30px;
    margin-top: 50%;
  }

  .productRating{
    margin-left: 40%;
  }

  .productName{
    margin-left: -30%;
  }

  .productCollection{
    text-align: left;
    margin-top: 2%;
  }

  .productPrice{
    text-align: left;
  }

  .productButton {
    text-align: left;
    width: 30%;
    padding: 10px;
  }
}
@media (max-width: 1200px) {
 
}

@media (max-width: 992px) {
  .productsList {
    grid-template-columns: repeat(2, 1fr); 
  }

  .productsSection {
    width: 26rem;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .productsList {
    grid-template-columns: repeat(1, 1fr); 
  }

  .productsSection {
    width: 24rem;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .productsSection {
    width: 100%;
    padding: 5px;
  }

  .productCard {
    width: 100%;
  }

  .productsTitle {
    font-size: 24px;
    line-height: 32.4px;
    text-align: center;
  }

  .productImage {
    width: 100%;
    height: auto;
  }

  .productName,
  .productRating,
  .productCollection,
  .productPrice {
    font-size: 14px;
  }

  .productButton {
    display: flex;
    justify-content: flex-start;
    width: 30%;
    padding: 10px;
  }
}
